﻿@using EthoTrak.DatabaseModels

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/Scripts/custom.js")"></script>
}

@{
    ViewBag.Title = "Animals";
}
<h3>Animals :</h3>
<center>
    <span style="padding-right:20px;">
    @Html.ActionLink("Go back", "Management", "Home", null, new { @class="btn"})
    </span>
    @Html.ActionLink("Add an animal", "Add", "Animal", null, new { @class="btn"})
</center>
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Institution</th>
        <th>Species</th>
        <th>Description</th>
        <th>Sex</th>
        <th>Status</th>
        <th>Comments</th>
        <th>Last Modified</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (TblANIM_ID Animal in @ViewBag.Animals)
    {

        <tr>
            <td>@Animal.ANIM_ID</td>
            <td>@Animal.INST_ID</td>
            <td>@Animal.SPEC_ID</td>
            <td>@Animal.DESC_ANIM</td>
            <td>@Animal.SEX</td>
            <td>@Animal.STATUS</td>
            <td>@Animal.COMMENTS</td>
            <td>@Animal.ACT_DT</td>
            <td>@Html.ActionLink("Edit", "Edit", "Animal", new { id = Animal.ANIM_ID }, new { @class="btn btn-small"})</td>
            <td>@Html.ActionLink("Delete", "Delete", "Animal", new { id = Animal.ANIM_ID }, new { @class="btn btn-small btn-danger", onclick = " return DeleteConfirm('animal')" })</td>
        </tr>
    }
</table>