﻿@model EthoTrak.DatabaseModels.TblEXHIB_ID

@{
    ViewBag.Title = "Exhibits - Edit";
}

<br />
<center>@Html.ActionLink("Go back", "All", "Exhibit", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm())
{
    <fieldset>
        
        <div class="editor-label">
            Exhibit Name
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.EXHIB)
        </div>

        <div class="editor-label">
            Added on
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.ADD_DATE, new { disabled = "disabled", @readonly = "readonly", style="background:#EFEEEF;border-color:#000;" })    
        </div>

        <br />
        <center><input type="submit" class="btn btn-success" value="Save Changes" /></center>
        <br />

    </fieldset>
}