﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>EthoTrak.org - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/themes/base/css", "~/Content/css", "~/Content/bootstrap/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap/js")

    @RenderSection("JavaScript", required: false)

</head>
<body>
    <div id="wrap" style="min-height:100%;">
        <header class="navbar navbar-fixed-top">
            <div class="container">
                <img alt="IIT Websites" src="@Url.Content("~/images/ethotrak-logo.png")">
                @Html.Partial("_LoginPartial")
            </div>
        </header>
        <div id="body" style="overflow:auto;padding-bottom: 40px;">
            @Html.Partial("_MenuPartial")
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
       </div>
    </div>
    <footer>
        <div class="content-wrapper">
         
                <p>&copy; @System.DateTime.Now.Year - EthoTrak.org</p>
            </div>
        
    </footer>


    @RenderSection("scripts", required: false)
    </div>
</body>
</html>
