﻿<span class="top-right">

@if (Request.IsAuthenticated) {
    <text>
        Hello @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()            
            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn">Log off</a>
        }
            
    </text>
} else {
    
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" , @class="btn"})
        <span style="padding-left:20px">@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class="btn"})</span>
        
    
}

</span>
