﻿@using EthoTrak.DatabaseModels;

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/Scripts/custom.js")"></script>
}

@{
    ViewBag.Title = "Keepers";
}
<h3>Keepers :</h3>
<center>
    <span style="padding-right:20px;">
    @Html.ActionLink("Go back", "Management", "Home", null, new { @class="btn"})
    </span>
    @Html.ActionLink("Add a keeper", "Add", "Keeper", null, new { @class="btn"})
</center>
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Middle Initials</th>
        <th>Last Name</th>
        <th>Full Initials</th>
        <th>Added on</th>        
        <th>Last Modified</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (TblKEEP_ID keeper in @ViewBag.keepers)
    {

        <tr>
            <td>@keeper.KEEP_ID</td>
            <td>@keeper.FIRST</td>
            <td>@keeper.MID_INIT</td>
            <td>@keeper.LAST</td>
            <td>@keeper.KEEP_INIT</td>
            <td>@keeper.ADD_DATE.Value.ToShortDateString()</td>
            <td>@keeper.ACT_DT</td>
            <td>@Html.ActionLink("Edit", "Edit", "Keeper", new { id = keeper.KEEP_ID }, new { @class="btn btn-small"})</td>
            <td>@Html.ActionLink("Delete", "Delete", "Keeper", new { id = keeper.KEEP_ID }, new { @class="btn btn-small btn-danger", onclick = " return DeleteConfirm('keeper')" })</td>
        </tr>
    }
</table>