﻿@model EthoTrak.DatabaseModels.TblKEEP_ID

@section JavaScript
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        $(document).ready(function () { $("#Date").datepicker(); });
    </script>
}

@{
    ViewBag.Title = "Keepers - Edit";
}

<br />
<center>@Html.ActionLink("Go back", "All", "Keeper", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm())
{
    <fieldset>
        
        <div class="editor-label">
            First Name
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FIRST)
        </div>

        <div class="editor-label">
            Middle Initials
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MID_INIT)
        </div>

        <div class="editor-label">
            Last Name
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LAST)
        </div>

        <div class="editor-label">
            Full Initials
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.KEEP_INIT)
        </div>

        <div class="editor-label">
            Added on
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.ADD_DATE, new { disabled = "disabled", @readonly = "readonly", style="background:#EFEEEF;border-color:#000;" })    
        </div>

         <br />
        <center><input type="submit" class="btn btn-success" value="Save Changes" /></center>
        <br />

    </fieldset>
}