﻿@model EthoTrak.DatabaseModels.TblBEHAV_ID
@{
    ViewBag.Title = "Behaviors - Add";
}

<br />
<center>@Html.ActionLink("Go back", "All", "Behavior", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm())
{
    <fieldset>
        
        <div class="editor-label">
            Master ID
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.MSTR_ID)
        </div>  
        
        <div class="editor-label">
            Species
        </div>
            <div class="editor-field">
            @Html.DropDownListFor(model => model.SPEC_ID, new SelectList(@ViewBag.species, "Value", "Text"))
        </div>  

        <div class="editor-label">
            Behavior
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.BEHAV)
        </div>

        <div class="editor-label">
            Description
        </div>
            <div class="editor-field">
            @Html.TextAreaFor(model => model.DEFIN, new { style = "height:100px;" } )
        </div> 

        <div class="editor-label">
            Parent
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.BEH_PRNT)
        </div>

        <br />
        <center><input type="submit" class="btn btn-success" value="Add behavior" /></center>
        <br />

    </fieldset>
}