﻿@using EthoTrak.DatabaseModels;

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/Scripts/custom.js")"></script>
}

@{
    ViewBag.Title = "Behaviors";
}
<h3>Behaviors :</h3>
<center>
    <span style="padding-right:20px;">
    @Html.ActionLink("Go back", "Management", "Home", null, new { @class="btn"})
    </span>
    @Html.ActionLink("Add a behavior", "Add", "Behavior", null, new { @class="btn"})
</center>
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Master ID</th>
        <th>Species</th>
        <th>Behavior</th>
        <th>Description</th>
        <th>Parent</th>
        <th>Added on</th>
        <th>Last Modified</th>        
        <th></th>
        <th></th>
    </tr>

    @foreach (TblBEHAV_ID behavior in @ViewBag.behaviors) {

    <tr>
        <td>@behavior.BEHAV_ID</td>
        <td>@behavior.MSTR_ID</td>
        <td>@behavior.SPEC_ID</td>
        <td>@behavior.BEHAV</td>
        <td>@behavior.DEFIN</td>
        <td>@behavior.BEH_PRNT</td>
        <td>@behavior.ADD_DATE.Value.ToShortDateString()</td>
        <td>@behavior.ACT_DT</td> 
        <td>@Html.ActionLink("Edit", "Edit", "Behavior", new {id = behavior.BEHAV_ID}, new { @class="btn btn-small"})</td>
        <td>@Html.ActionLink("Delete", "Delete", "Behavior", new { id = behavior.BEHAV_ID }, new { @class="btn btn-small btn-danger", onclick = " return DeleteConfirm('behavior')" })</td>
    </tr>
    }
</table>