﻿@{
    ViewBag.Title = "Select High Order Behavior";
}

<h4>Pick a High Order Behavior :</h4>

<br />
<center>@Html.ActionLink("Go back", "PickSpecies", "Behavior", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm("PickHOB", "Behavior"))
{
    <fieldset>

        @Html.Hidden("refresh", 0)
        @Html.Hidden("idSSB", 0)
        @Html.Hidden("idSpecies", (object)@ViewBag.idSpecies)

        <div class="editor-label">
            High Order Behavior
        </div>
        <div class="editor-field">
            @Html.DropDownList("idHOB", new SelectList(@ViewBag.HOBs, "Value", "Text", @ViewBag.HOB), new {onchange="this.form['refresh'].value = 1; this.form.submit();"})
        </div>

        <div class="editor-label">
            Description
        </div>
        <div class="editor-field">
        @Html.TextArea("Description", (string)@ViewBag.description, new { style = "height:100px;" } )
        </div>
      
        <center><input type="submit" class="btn" onclick="this.form['refresh'].value = 0; this.form.action = '/Behavior/PickSSB';" value="Select HOB" /></center>
        <br />

    </fieldset>
}
