﻿@{
    ViewBag.Title = "Select Species";
}

<h4>Pick a species :</h4>

@using (Html.BeginForm("PickHOB","Behavior"))
{
    <fieldset>

        @Html.Hidden("idHOB", 0)
        @Html.Hidden("refresh", 0)

        <div class="editor-label">
            Species Name
        </div>
            <div class="editor-field">
                
            @Html.DropDownList("idSpecies", new SelectList(@ViewBag.species, "Value", "Text"))
                  
        </div> 

        <center><input type="submit" class="btn" value="Select Species" /></center>
    <br />

    </fieldset>
}
