﻿@{
    ViewBag.Title = "Species Specific Behaviors";
}

<h4>Pick an species specific behavior :</h4>

<br />
<center>@Html.ActionLink("Go back", "PickSpecies", "Behavior", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm("PickSSB", "Behavior"))
{
    
    <fieldset>

        @Html.Hidden("refresh", 0)
        @Html.Hidden("idSpecies", (object)@ViewBag.idSpecies)
        @Html.Hidden("idHOB", (object)@ViewBag.idHOB)

        <div class="editor-label">
            Species Specific Behaviors
        </div>
        <div class="editor-field">
            @Html.DropDownList("idSSB", new SelectList(@ViewBag.SSBs, "Value", "Text", @ViewBag.SSB), new {onchange="this.form['refresh'].value = 1, this.form.submit()"})
        </div>

        <div class="editor-label">
            Description
        </div>
        <div class="editor-field">
        @Html.TextArea("Description", (string)@ViewBag.description, new { style = "height:100px;" } )
        </div>
      
    </fieldset>
}
