﻿@using EthoTrak.DatabaseModels;

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/Scripts/custom.js")"></script>
}

@{
    ViewBag.Title = "Observations";
}
<h3>Observations :</h3>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Session Number</th>
        <th>Observation Number</th>
        <th>Species</th>
        <th>Animal</th>
        <th>Enclosure</th>
        <th>Behavior</th>
        <th>Location</th>
        <th>Date</th>
        <th>Comments</th>
        <th>Flagged?</th>
        <th>Last Modified</th>        
        <th></th>
        <th></th>
    </tr>

@foreach (TblANIM_OBS_c_ViewModel observation in @ViewBag.observations) {

    <tr>
        <td>@observation.ID</td>
        <td>@observation.USER_ID</td>
        <td>@observation.SES_NO</td>
        <td>@observation.OBS_NO</td>
        <td>@observation.SPEC</td>
        <td>@observation.ANIMAL</td>
        <td>@observation.ENCLOSURE</td>
        <td>@observation.BEHAVIOR</td>
        <td>@observation.LOCATION</td>
        <td>@observation.DATE_OBS.Value.ToShortDateString()</td>
        <td>@observation.COMMENTS</td>
        <td>@observation.FLAG</td>
        <td>@observation.ACT_DT</td> 
        <td>@Html.ActionLink("Edit", "Edit", "Observation", new {id = observation.ID}, new { @class="btn btn-small"})</td>
        <td>@Html.ActionLink("Delete", "Delete", "Observation", new { id = observation.ID }, new { @class="btn btn-small btn-danger", onclick = " return DeleteConfirm('observation')" })</td>
    
    </tr>
    }
</table>