﻿@model EthoTrak.DatabaseModels.TblANIM_OBS_c

@section JavaScript
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        $(document).ready(function () { $("#Date").datepicker(); });
    </script>
}

@{
    ViewBag.Title = "Observations - Edit";
}

<br />
<center>@Html.ActionLink("Go back", "All", "Observation", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm())
{
    <fieldset>
        
        @Html.Hidden("refresh", 0)

        <div class="editor-label">
            User ID
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.USER_ID, new { @readonly = "readonly", style="background:#EFEEEF;border-color:#000;" })
        </div>  

        <div class="editor-label">
            Session Number
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SES_NO, new { @readonly = "readonly", style="background:#EFEEEF;border-color:#000;" })
        </div>  

        <div class="editor-label">
            Observation Number
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OBS_NO, new { @readonly = "readonly", style="background:#EFEEEF;border-color:#000;" })
        </div>  

        <div class="editor-label">
            Species
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SPEC_ID, new SelectList(@ViewBag.species, "Value", "Text"), new {onchange="this.form['refresh'].value = 1, this.form.submit()"})
        </div>  

        <div class="editor-label">
            Animal
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ID_OBS, new SelectList(@ViewBag.animals, "Value", "Text"), new {onchange="this.form['refresh'].value = 1, this.form.submit()"})
        </div>  

        <div class="editor-label">
            Enclosure
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ENCLOS_ID, new SelectList(@ViewBag.enclosures, "Value", "Text"), new {onchange="this.form['refresh'].value = 1, this.form.submit()"})
        </div> 

        <div class="editor-label">
            Behavior
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.BEHAV_ID)
        </div> 

        <div class="editor-label">
            Location
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LOC_ID, new SelectList(@ViewBag.locations, "Value", "Text"))
        </div> 

        <div class="editor-label">
            Date
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.DATE_OBS, new { id = "Date", @Value = @ViewBag.Date })
        </div>

        <div class="editor-label">
            Comment
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.COMMENTS, new { style = "height:100px;" } )
        </div> 

        <div class="editor-field">
            <span style="vertical-align:-3px; padding-right:10px;">Flagged?</span> @Html.CheckBox("FLAG", Model.FLAG.HasValue? Model.FLAG : false)
        </div> 

          <br />
        <center><input type="submit" class="btn btn-success" onclick="this.form['refresh'].value = 0;" value="Save Changes" /></center>
        <br />

    </fieldset>
}