﻿@{
    ViewBag.Title = "Home Page";
}


<center><h3>Welcome to EthoTrak.org</h3></center>
<br />


<p style="font-size:15px; line-height:25px;">In 2003, Brookfield Zoo began a long-term effort to develop an easy-to-use, flexible, digital system for
collecting basic behavioral data within zoological institutions, a system that we termed EthoTrak.</p>
<br />
<p style="font-size:15px; line-height:25px;">The software is particularly notable in that it is designed specifically for multiinstitutional
use as it compiles data from across participating institutions into a single functional database. To
achieve this goal, participating institutions must use standardized behavioral terminology (established ethograms)
in order to maintain consistency across institutions in how behaviors are named, categorized, and quantified.
Only with uniform behavioral data collection methods can information from multiple participants be analyzed,
compared and shared.</p>
<br />
<p style="font-size:15px; line-height:25px;">With EthoTrak, the time-intensive efforts typically required to collect and enter data are eliminated since
paper is not required to collect and analyze data. The time commitment for use is modest with the data collection
protocol easily integrating into any time-challenged schedule.</p>

