﻿@model EthoTrak.DatabaseModels.TblANIM_ENCLO

@section JavaScript
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        $(document).ready(function () { $("#inDate").datepicker(); });
        $(document).ready(function () { $("#outDate").datepicker(); });
    </script>
}

@{
    ViewBag.Title = "Index";
}

<br />
<center>@Html.ActionLink("Go back", "All", "EnclosureAssignment", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Edit</legend>

        <div class="editor-label">
            Animal
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ANIM_ID, new { disabled = "disabled", @readonly = "readonly", style="background:#EFEEEF;border-color:#000;" })
        </div>

        <div class="editor-label">
            Enclosure
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ENCLOS_ID, new { disabled = "disabled", @readonly = "readonly", style="background:#EFEEEF;border-color:#000;" })
        </div>

        <div class="editor-label">
            Move in Date
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.IN_DATE, new { id = "inDate", @Value = @ViewBag.inDate })
        </div>

        <div class="editor-label">
            Move out Date
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.OUT_DATE, new { id = "outDate", @Value = @ViewBag.outDate })
        </div>

        <div class="editor-label">
            Comments
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.COMMENTS, new { style = "height:100px;" } )
        </div>

        <br />
        <center><input type="submit" class="btn" value="Save Changes" /></center>
        <br />
    </fieldset>
}