﻿@{
    ViewBag.Title = "Select Exhibit";
}

<h4>Pick an exhibit :</h4>

@using (Html.BeginForm("PickArea","EnclosureAssignment"))
{

    <fieldset>

        <div class="editor-label">
            Exhibit Name
        </div>
            <div class="editor-field">
                
            @Html.DropDownList("idExhibit", new SelectList(@ViewBag.exhibits, "Value", "Text"))
                  
        </div> 

        <center><input type="submit" class="btn" value="Select Exhibit" /></center>
    <br />

    </fieldset>
}
