﻿@{
    ViewBag.Title = "Select Enclosure";
}

<h4>Pick an enclosure :</h4>

@using (Html.BeginForm("ShowAnimals", "EnclosureAssignment"))
{
    <fieldset>

        <div class="editor-label">
            Enclosure Name
        </div>
        <div class="editor-field">
            @Html.DropDownList("idEnclosure", new SelectList(@ViewBag.enclosures, "Value", "Text"))
        </div>

        <center><input type="submit" class="btn" value="Select Enclosure" /></center>
        <br />

    </fieldset>
}
