﻿@model EthoTrak.DatabaseModels.TblANIM_ID

@using EthoTrak.DatabaseModels;

@{
    ViewBag.Title = "Select Animals";
}

<h4>Select animals :</h4>

@using (Html.BeginForm("Process", "EnclosureAssignment"))
{
    @Html.Hidden("idEnclosure", (object)@ViewBag.idEnclosure)
    <fieldset>

        <div class="editor-label">
            Animals
        </div>
        
            @foreach (TblANIM_ID animal in ViewBag.animals)
            {
                <div style="line-height:10px;">
                    <input style="vertical-align:-2px;" type="checkbox" name="animals" value="@animal.ANIM_ID"><span style="padding-left:10px;" />
                    @animal.DESC_ANIM
                </div>
                <br />
            }
        

        <br />
        <center><input type="submit" class="btn btn-success" value="Assign animals to enclosure" /></center>
        <br />

    </fieldset>
}