﻿@model EthoTrak.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<section id="loginForm">

<center><h3 style="text-decoration:none">Welcome To EthoTrak.org</h3></center>

<center>@Html.ValidationSummary(true)</center>

<br />

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe, new {style="vertical-align:-2px;" })
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <br />
        <center><input type="submit" class="btn" style="width:70%" value="Log in" /></center>
    </fieldset>
}
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
