﻿@model EthoTrak.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <span style="color:#E80C4D; font-weight:bold; line-height:20px; font-size:14px; font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;">@ViewBag.error</span>
    <center><h3 style="text-decoration:none;">Create a new account</h3></center>
    <fieldset>
        
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName) @Html.ValidationMessageFor(model => model.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password) @Html.ValidationMessageFor(model => model.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword) @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </li>
            <li>
                @Html.Label("Account Type")
                @Html.DropDownList("roleName", new SelectList(@ViewBag.roles))
            </li>
            
        </ol>
        <center><input type="submit" class="btn" style="width:70%" value="Register" /></center>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
