﻿@using EthoTrak.DatabaseModels

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/Scripts/custom.js")"></script>
}

@{
    ViewBag.Title = "Species";
}
<h3>Species :</h3>
<center>
    <span style="padding-right:20px;">
    @Html.ActionLink("Go back", "Management", "Home", null, new { @class="btn"})
    </span>
    @Html.ActionLink("Add a species", "Add", "Species", null, new { @class="btn"})
</center>
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Latin Name</th>
        <th>Comments</th>
        <th>Last Modified</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (TblSPEC_ID species in @ViewBag.species)
    {

        <tr>
            <td>@species.SPEC_ID</td>
            <td>@species.SPEC_NAME</td>
            <td>@species.LATIN_NAME</td>
            <td>@species.COMMENTS</td>
            <td>@species.ACT_DT</td>
            <td>@Html.ActionLink("Edit", "Edit", "Species", new { id = species.SPEC_ID }, new { @class="btn btn-small"})</td>
            <td>@Html.ActionLink("Delete", "Delete", "Species", new { id = species.SPEC_ID }, new { @class="btn btn-small btn-danger", onclick = " return DeleteConfirm('species')" })</td>
        </tr>
    }
</table>