﻿@model EthoTrak.DatabaseModels.TblSPEC_ID

@{
    ViewBag.Title = "Species - Edit";
}

<br />
<center>@Html.ActionLink("Go back", "AllAdmin", "Species", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm())
{
    <fieldset>
        
        <div class="editor-label">
            Name
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.SPEC_NAME)
        </div>

        <div class="editor-label">
            Latin Name
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.LATIN_NAME)
        </div>
      
        <div class="editor-label">
            Comments
        </div>
            <div class="editor-field">
            @Html.TextAreaFor(model => model.COMMENTS, new { style = "height:100px;" } )
        </div>    

         <br />
        <center><input type="submit" class="btn btn-success" value="Save Changes" /></center>
        <br />

    </fieldset>
}