﻿@model EthoTrak.DatabaseModels.TblKEEP_ID

@using EthoTrak.DatabaseModels;

@{
    ViewBag.Title = "Index";
}

<h4>Select keepers</h4>

@using (Html.BeginForm("Assign", "KeeperAssignment"))
{
    @Html.Hidden("idExhibit",(object)@ViewBag.idExhibit)
    <fieldset>

        <div class="editor-label">
            Keepers
        </div>
       
 @foreach (TblKEEP_ID keeper in ViewBag.keepers)
            {
                <div style="line-height:10px;">
                    <input style="vertical-align:-2px;" type="checkbox" name="keepers" value="@keeper.KEEP_ID"><span style="padding-left:10px;" />
                    @keeper.FIRST @keeper.LAST
                </div>
                <br />
            }
 
        <br />
        <center><input type="submit" class="btn btn-success" value="Assign keeper to exhibit" /></center>
        <br />
    </fieldset>
}