﻿@model EthoTrak.DatabaseModels.TblENCLOS_ID
@{
    ViewBag.Title = "Enclosures - Add";
}

<br />
<center>@Html.ActionLink("Go back", "All", "Enclosure", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm())
{
    <fieldset>
        
        <legend>Add an Enclosure</legend>
        
        <div class="editor-label">
            Enclosure Name
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.ENCLOS)
        </div>  
        
        <div class="editor-label">
            Area Name
        </div>
            <div class="editor-field">
            @Html.DropDownListFor(model => model.AREA_ID, new SelectList(@ViewBag.areas, "Value", "Text"))
        </div>  

        <div class="editor-label">
            Comments
        </div>
            <div class="editor-field">
            @Html.TextAreaFor(model => model.COMMENTS, new { style = "height:100px;" } )
        </div> 

        <br />
        <center><input type="submit" class="btn btn-success" value="Create Enclosure" /></center>
        <br />

    </fieldset>
}