﻿@model EthoTrak.DatabaseModels.TblLOC_ID
@{
    ViewBag.Title = "Locations - Add";
}

<br />
<center>@Html.ActionLink("Go back", "All", "Location", null, new { @class="btn"})</center>
<br />

@using (Html.BeginForm())
{
    <fieldset>
        
        <legend>Add a Location</legend>
        
        <div class="editor-label">
            Location Name
        </div>
            <div class="editor-field">
            @Html.TextBoxFor(model => model.LOC)
        </div>  
        
        <div class="editor-label">
            Enclosure Name
        </div>
            <div class="editor-field">
            @Html.DropDownListFor(model => model.ENCLOS_ID, new SelectList(@ViewBag.enclosures, "Value", "Text"))
        </div>

        <br />
        <center><input type="submit" class="btn btn-success" value="Add Location" /></center>
        <br />

    </fieldset>
}