﻿@using EthoTrak.DatabaseModels

@section JavaScript
{
   <script type="text/javascript" src="@Url.Content("/Scripts/custom.js")"></script>
}

@{
    ViewBag.Title = "Locations";
}
<h3>Locations :</h3>
<center>
    <span style="padding-right:20px;">
    @Html.ActionLink("Go back", "Management", "Home", null, new { @class="btn"})
    </span>
    @Html.ActionLink("Add a location", "Add", "Location", null, new { @class="btn"})
</center>
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Location Name</th>
        <th>Enclosure Name</th>
        <th>Added on</th>
        <th>Last Modified</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (TblLOC_ID location in @ViewBag.locations) {

    <tr>
        <td>@location.LOC_ID</td>
        <td>@location.LOC</td>
        <td>@location.ENCLOS_ID</td>
        <td>@location.ADD_DATE</td> 
        <td>@location.ACT_DT</td> 
        <td>@Html.ActionLink("Edit", "Edit", "Location", new {id = location.LOC_ID}, new { @class="btn btn-small"})</td>
        <td>@Html.ActionLink("Delete", "Delete", "Location", new {id = location.LOC_ID}, new { @class="btn btn-small btn-danger", onclick = " return DeleteConfirm('location')" })</td>
    </tr>
    }
</table>